<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-search">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" width="250px" alt="Logo">
            </div>
            <div class="search-container">
                <input type="search" placeholder="Buscar">
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
        <div>
            <p><i class="fas fa-credit-card"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="menu-navegador"> 
            <div class="nav1">
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="nav2">
            <nav>
                <ul>
                    <li><a href="register"><i class="fas fa-user-circle"></i> Creá tu cuenta</a></li>
                    <li><a href="login"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i> Mis compras</a></li>
                </ul>
            </nav>
        </div>
        </div>
        
    </header>

    <main>
        <div class="banner-imagen">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="product-grid">
            <div class="product-container">
                <img src="/images/img-cafetera-moulinex.jpg" width="250px" alt="Cafetera Moulinex">
                <div class="product-info">
                    <div class="product-desc-box">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="product-container">
                <img src="/images/img-macbook-pro-2019.jpg" width="250px" alt="MacBook Pro 2019">
                <div class="product-info">
                    <div class="product-desc-box">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </div>

            <div class="product-container">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="250px" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <div class="product-desc-box">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
        </div>

            <div class="product-container">
                <img src="/images/img-tv-samsung-smart.jpg" width="250px" alt="SmartTv Samsung 43">
                <div class="product-info">
                    <div class="product-desc-box">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>

        </section>

        <section>
            <h2>Sección de Ofertas</h2>
            <div class="product-grid">
            <div class="product-container">
                <img src="/images/img-cafetera-moulinex.jpg" width="250px" alt="Cafetera Moulinex">
                <div class="product-info">
                    <div class="product-desc-box">
                        <div class="product-delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>

            <div class="product-container">
                <img src="/images/img-macbook-pro-2019.jpg" width="250px" alt="MacBook Pro 2019">
                <div class="product-info">
                    
                    <div class="product-desc-box">
                        <div class="product-delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </div>

            <div class="product-container">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="250px" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <div class="product-desc-box">
                        <div class="product-delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </div>

            <div class="product-container">
                <img src="/images/img-tv-samsung-smart.jpg" width="250px" alt="SmartTv Samsung 43">
                <div class="product-info">
                    <div class="product-desc-box">
                        <div class="product-delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <section class="column-1">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </section>
            <section class="column-2">
                <i class="fas fa-truck"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </section>
            <section class="column-3">
                <i class="fas fa-shield-alt"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </section>
        </div>
        <div class="parrafo-final-footer">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>



</body>

</html>